body
{
<<<<<<< HEAD
    color: gray;
=======
    color: red;
>>>>>>> cabecera
    text-align: center;
    font-family: arial;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}

#cabecera
{
    background:  #33A;
    box-shadow: blueviolet;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0fr;

}